name = "delivery-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# Adicionar um Cron Trigger para que o worker rode periodicamente (e.g., a cada minuto).
[triggers]
crons = ["* * * * *"]

# Binding para a base de dados D1, de onde os jobs prontos são lidos.
[[d1_databases]]
binding = "DB"
database_name = "gallyfans-db"
database_id = "<D1_DATABASE_ID>" # A ser preenchido com o ID real

[vars]
# A URL do Gateway será substituída pelo script de deploy.
GATEWAY_URL = "http://localhost:3000"

# O valor deste segredo será automaticamente vinculado pelo wrangler-action
# a partir da variável de ambiente com o mesmo nome, que por sua vez
# vem dos segredos do GitHub.
[secrets]
GATEWAY_AUTH_TOKEN